.DS_Store
02-Initialize/.parcel-cache
02-Initialize/dist
02-Initialize/node_modules
03-React/.parcel-cache
03-React/dist
03-React/node_modules
04-FoodApp/.parcel-cache
04-FoodApp/dist
04-FoodApp/node_modules
05-Swiggy/.parcel-cache
05-Swiggy/dist
05-Swiggy/node_modules